/*nav导航*/
.nav{
	width:100%;
	height:34px;
	border-bottom:1px solid rgb(153,153,153);
}
.nav .nav-main{
	width:1200px;
	height:33px;
	margin: 0 auto;
	position: relative;
}
.nav .nav-main ul{
	width:751px;
	height:34px;
	float:left;
	margin-left: 30px;
}

.nav .nav-main ul li{
	float:left;	
	position: relative;
	height:33px;
}
.nav .nav-main .hot img{
	display: inline-block;
	position: absolute;
	right:5px;
}
.nav .nav-main ul li a {
	line-height:33px;
	height:33px;
	display:block;
	float:left;
	font-size: 14px;
	margin:0 26px;	
	color:#000;
}
.nav .nav-main .bo-border{
	position:absolute;
	bottom:0;
}
.nav .nav-main .gift-strategy{
	float:left;
	width:104px;
	height:34px;
	position:relative;
	margin-left:185px;
}
.nav .nav-main .gift-strategy .give-gift{
	display: block;
	height:34px;
	width:104px;
	line-height: 34px;
}
.nav .nav-main .gift-strategy .give-gift b{
	font-size: 14px;
	color:#000;
}
.nav .nav-main .gift-strategy #giftClassify{
	position: absolute;
	top:34px;
	left:0;
	z-index: 5;
	width:862px;
	height:486px;
	margin:0 auto;
	background:#fff;
	padding: 0;
	border: 1px solid rgb(204,204,204);
	display: none;
}


#giftClassify .gift-left{
	width:315px;
	height:484px;
	padding-left:20px;
	border-right:1px solid rgb(204,204,204);
	float:left;
}
#giftClassify .gift-left p{
	width:294px;
	height:50px;
	font-size:20px;
	font-weight: bold;
	padding-top:20px ;
	font-family: "微软雅黑";
}
.gift-left .gl-header{
	width:294px;
	height:95px;
	padding:12px 0;
}
.gift-left .gl-header h3{
	height:28px;
	line-height:20px;
}
.gift-left .gl-header h3 a{
	font-size:14px;
	font-weight: bold;
	color:#000;
}
.gift-left .gl-header h3 a:hover{
	color:rgb(244,97,77)
}
.gift-left .gl-header .cont{
	height:43px;
	line-height: 20px;
}
.gift-left .gl-header .cont a{
	color:rgb(153,153,153);
	font:12px/1.5 "宋体";

	white-space: nowrap;
}
.gift-left .gl-header .cont a:hover{
	color:rgb(244,97,77)
}



/***********************/
#giftClassify .gift-right{
	width:510px;
	height:484px;
	padding-left:20px;
	float:left;
}

#giftClassify .gift-right p{
	width:510px;
	height:50px;
	font-size:20px;
	font-weight: bold;
	padding-top:20px ;
	font-family: "微软雅黑";
}
#giftClassify .gift-right .gr-bottom{
	width:510px;
	height:434px;
}
.gr-bottom .gr-left{
	width:255px;
	height:109px;
	float:left;
}
.gr-bottom .gr-left .gl-header{
	width:265px;
	height:109px;
	padding:12px 0;
	padding-right:15px ;
}
.gr-bottom .gr-left .gl-header h3{
	height:28px;
	line-height:20px;
}
.gr-bottom .gr-left .gl-header h3 a{
	font-size:14px;
	font-weight: bold;
	font-family: "宋体";
	color:#000;
}
.gr-bottom .gr-left .gl-header h3 a:hover{
	color:rgb(244,97,77)
}
.gr-bottom .gr-left .gl-header .cont{
	height:43px;
	line-height: 20px;
}
.gr-bottom .gr-left .gl-header .cont a{
	color:rgb(153,153,153);
	font:12px/1.5 "宋体";
	padding-right:10px ;
	white-space: nowrap;
}
.gr-bottom .gr-left .gl-header .cont a:hover{
	color:rgb(244,97,77)
}
/******忘记密码框*****/
.forget{
	min-height: 550px;
	width:850px;
	margin: 0 auto;
	padding: 40px 0 20px 0;
}
.forget:after{
	content: '.';
	clear:both;
	display: block;
	height: 0;
	overflow: hidden;
	visibility: hidden;
	
}
.forget .forget_left{
	width:450px;
	height:350px;
	float:left;
}
.forget .forget_right{
	width:400px;
	height:293px;
	border: 1px solid rgb(216,216,216);
	float:right;
	background: rgb(249,249,249);
	padding: 0 20px;
	font-size: 14px;
	color:rgb(119,119,119)
}
.forget .forget_right p{
	font: 18px "微软雅黑" ;
	width:360px;
	height:20px;
	padding:15px 0 25px 15px;
	font-weight: bold;
	line-height: 20px;
	margin-bottom: 20px;
}
.forget .forget_right .e_mail{
	margin-left: 30px;
}
.forget .forget_right .email{
	margin-left: 10px;
	width:228px;
	height:28px;
}
#in_email{
	width:400px;
	height:52px;
}
.forget .forget_right .test_email{
	width:210px;
	height:24px;
	margin-left:95px;
	line-height: 24px;
	color:red;
	font-size: 12px;
	display: none;
}
.forget .code_check{
	width:360px;
	height:54px;
	position: relative;
}
.forget .forget_right .check_out{
	margin-left: 43px;
}
.forget .forget_right .check_code{
	margin-left: 10px;
	width:58px;
	height:28px;

}
.forget .forget_right .show_code{
	margin-left: 10px;
	width:58px;
	height:28px;
	border: 1px solid rgb(216,216,216);
	background: #fff;
	display: inline-block;
	position: absolute;
	top:0;
	left:170px;
	line-height: 28px;
	color: red;
	text-align: center;
	letter-spacing: 1px;
}
.forget .code_check .clear{
	margin-left: 100px;
	font-size: 12px;
	cursor: pointer;
}
.forget .code_check .test_code{
	width:210px;
	height:24px;
	margin-left:95px;
	line-height: 24px;
	color:red;
	font-size: 12px;
}
.forget .forget_right .sub_search{
	width:104px;
	height:40px;
	background: rgb(246,97,75);
	text-align: center;
	color: #fff;
	font:14px "微软雅黑";
	font-weight: bold;
	margin-left:95px;
	border:none;
	outline: none;
}
.forget .forget_right .sub_search:hover{
	
	background: rgb(227,75,53);
}
#footer .footer-mid{
	width:1200px;
	height:24px;
	margin-top:15px;
}
 .footer-mid ul{
	width:600px;
	margin:0 auto;
	height:24px;
}
 .footer-mid li{
	float:left;
	text-align: center;
	height:24px;
	line-height: 24px;
}
.footer-mid li a{
	margin:0 10px;
	color:#606060;
}
 .footer-mid li a:hover{
	text-decoration: underline;
}
 .copy{
	width:1200px;
	height:18px;
	line-height: 18px;
	text-align: center;
	margin-top: 10px;
	margin-bottom: 15px;
	color:rgb(153,153,153);
	font-family: "微软雅黑";
	margin: 0 auto;
}






































































